[Unit]
Description=Start nginx server
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=java -jar {{ app_dir }}/{{ app_file }}
Restart=always
RestartSec=10
Environment=PORT={{ app_port }}

[Install]
WantedBy=multi-user.target